<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
   <h1> {{data|lower}}</h1>
   <h1> {{data|upper}}</h1>
   <h1> {{data|title}}</h1>
   <h1> {{data|length}}</h1>
   <h1> {{data|truncatewords:'2'}}</h1>
   <h1> {{data|truncatechars:'10'}}</h1>
   <h1> {{data|slice:'10'}}</h1>
   <!-- <h2>I have {{c}} cat{{c|pluralize}}</h2> -->
   <!-- <h1>I have{{c}} bike{{c|pluralize}} </h1> -->
   <h1>I have {{c}} Car{{c|pluralize}}</h1>
   <!-- <h1>I bought tow mango{{c|pluralize:'es'}}</h1> -->
   <!-- <h2>I have {{c}} mango{{c|pluralize:'es'}}</h2> -->
   <h1>I bought two mango{{c|pluralize}}</h1>
   {{dt}}
   <h2>This {{c}} marker{{c|pluralize}} {{c|pluralize:'is'}} Mine</h2>
</body>
</html>